.n {
    color: white;
    font-size: 14px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
    transition: all 0.5s ease;
}

.n.scrolled {
    transition: all 1.0s ease;
    background-color: #0b0b0b;
}

.n-container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
}

.n-c-left {
    display: flex;
    align-items: center;
}

.n-c-right {
    display: flex;
    align-items: center;
}

.l-span {
    margin-right: 20px;
    cursor: pointer;
}

.logo {
    height: 25px;
    margin-right: 40px;
}

.pf {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    object-fit: cover;
    cursor: pointer;
}

.r-icon {
    margin: 0px 15px;
    cursor: pointer;
}


.r-profile .r-p-options {
    display: none;
    background-color: #0b0b0b;
    border-radius: 4px;
}

.r-profile:hover .r-p-options {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.r-p-span {
    padding: 10px;
    cursor: pointer;
}